@import "tailwindcss";


.rbc-toolbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 0.75rem !important;
}

.rbc-toolbar button {
  background-color: oklch(37.9% 0.146 265.522) !important;
  color: white !important;
  padding: 0.25rem 0.75rem !important;
  border-radius: 0.375rem !important;
  font-size: 0.875rem !important;
  transition: background-color 0.2s !important;
}

.rbc-toolbar button:hover {
  background-color: oklch(42.4% 0.199 265.638) !important;
}

.rbc-header {
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.rbc-today {
  background-color: #dbeafe;
}

/* .rbc-event {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
} */

.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
.loader:after,
.loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: oklch(37.9% 0.146 265.522);
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loaderButton {
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
.loaderButton:after,
.loaderButton:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  background: oklch(37.9% 0.146 265.522);
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loader:before,
.loaderButton:before {
  transform-origin: 0 50%;
  background: oklch(80.9% 0.105 251.813);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
