@import "tailwindcss";


.shadow-card {
  box-shadow: 16px 32px 25px 4px rgba(35, 34, 34, 0.67);
}

/* Sobrescribir estilos por defecto del calendario */
.rbc-calendar {
  border-radius: 0.5rem; /* rounded-lg */
  overflow: hidden;
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.rbc-toolbar button {
  background-color: #3b82f6; /* bg-blue-500 */
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}

.rbc-toolbar button:hover {
  background-color: #2563eb; /* bg-blue-600 */
}

.rbc-header {
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #374151; /* text-gray-700 */
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.rbc-today {
  background-color: #dbeafe; /* bg-blue-50 */
}

.rbc-event {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
