@import "tailwindcss";

/* .rbc-calendar {
  border-radius: 0.5rem; 
  overflow: hidden;
} */

.rbc-toolbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 0.75rem !important;
}



.rbc-toolbar button  {
  background-color: oklch(37.9% 0.146 265.522) !important;
  color: white !important;
  padding: 0.25rem 0.75rem !important;
  border-radius: 0.375rem !important;
  font-size: 0.875rem !important;
  transition: background-color 0.2s !important;
}

.rbc-toolbar button:hover {
  background-color: oklch(42.4% 0.199 265.638) !important; 
}

.rbc-header {
  background-color: #f3f4f6; 
  color: #374151; 
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.rbc-today {
  background-color: #dbeafe;
}

/* .rbc-event {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
} */

